### Importing libraries:

In [1]:
import pandas as pd

### Indian crops dataset:

In [2]:
df = pd.read_csv('Indian crops dataset.csv')
df.head()

,Dist Code,Year,State Code,State Name,Dist Name,RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha),RICE SHARE IN TOTAL (Percent),WHEAT AREA (1000 ha),...,COTTON YIELD (Kg per ha),COTTON SHARE IN TOTAL (Percent),FRUITS AREA (1000 ha),FRUITS SHARE IN TOTAL (Percent),VEGETABLES AREA (1000 ha),VEGETABLES SHARE IN TOTAL (Percent),FRUITS AND VEGETABLES AREA (1000 ha),POTATOES AREA (1000 ha),ONION AREA (1000 ha),FODDER AREA (1000 ha)
0,1,1966,14,Chhattisgarh,Durg,548.0,185.0,338,50.63,44.0,...,0,0.0,5.95,0.55,6.64,0.61,12.59,0.01,0.60,0.47
1,1,1967,14,Chhattisgarh,Durg,547.0,409.0,748,42.16,50.0,...,0,0.0,5.77,0.44,7.24,0.56,13.02,0.01,0.56,1.23
2,1,1968,14,Chhattisgarh,Durg,556.3,468.0,841,41.59,53.7,...,0,0.0,5.41,0.40,7.40,0.55,12.81,0.10,0.58,1.02
3,1,1969,14,Chhattisgarh,Durg,563.4,400.8,711,42.04,49.4,...,0,0.0,5.52,0.41,7.16,0.53,12.69,0.01,0.56,0.84
4,1,1970,14,Chhattisgarh,Durg,571.6,473.6,829,41.33,44.2,...,0,0.0,5.45,0.39,7.19,0.52,12.64,0.02,0.52,0.42

### Checking for empty cells:

In [4]:
df.isnull().sum()

Dist Code                               0
Year                                    0
State Code                              0
State Name                              0
Dist Name                               0
                                       ..
VEGETABLES SHARE IN TOTAL (Percent)     0
FRUITS AND VEGETABLES AREA (1000 ha)    0
POTATOES AREA (1000 ha)                 0
ONION AREA (1000 ha)                    0
FODDER AREA (1000 ha)                   0
Length: 109, dtype: int64

### Data types:

In [5]:
df.dtypes

Dist Code                                 int64
Year                                      int64
State Code                                int64
State Name                               object
Dist Name                                object
                                         ...
VEGETABLES SHARE IN TOTAL (Percent)     float64
FRUITS AND VEGETABLES AREA (1000 ha)    float64
POTATOES AREA (1000 ha)                 float64
ONION AREA (1000 ha)                    float64
FODDER AREA (1000 ha)                   float64
Length: 109, dtype: object

### Details of the data:

In [6]:
df.describe(include='all')

,Dist Code,Year,State Code,State Name,Dist Name,RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha),RICE SHARE IN TOTAL (Percent),WHEAT AREA (1000 ha),...,COTTON YIELD (Kg per ha),COTTON SHARE IN TOTAL (Percent),FRUITS AREA (1000 ha),FRUITS SHARE IN TOTAL (Percent),VEGETABLES AREA (1000 ha),VEGETABLES SHARE IN TOTAL (Percent),FRUITS AND VEGETABLES AREA (1000 ha),POTATOES AREA (1000 ha),ONION AREA (1000 ha),FODDER AREA (1000 ha)
count,15508.000000,15508.000000,15508.000000,15508,15508,15508.000000,15508.000000,15508.000000,15508.000000,15508.000000,...,15508.000000,15508.000000,15508.000000,15508.000000,15508.000000,15508.000000,15508.000000,15508.000000,15508.000000,15508.000000
unique,NaN,NaN,NaN,20,311,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,Uttar Pradesh,Srikakulam,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,2300,50,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,270.201315,1990.481945,9.573253,NaN,NaN,128.424233,219.389249,1458.956796,23.739390,76.257169,...,120.563580,3.490417,7.733721,1.766446,10.951978,2.245756,18.520090,3.092763,1.165945,21.679561
std,278.562132,14.433817,4.990594,NaN,NaN,159.949357,318.034684,936.796983,23.531236,99.288499,...,193.747941,8.511718,13.453608,3.584192,17.618990,3.749053,25.405096,7.744254,4.212277,59.190416
min,1.000000,1966.000000,1.000000,NaN,NaN,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,78.000000,1978.000000,6.000000,NaN,NaN,10.587500,9.400000,791.000000,2.507500,1.860000,...,0.000000,0.000000,0.340000,0.080000,1.620000,0.330000,2.600000,0.000000,0.060000,0.000000
50%,156.000000,1990.000000,10.000000,NaN,NaN,66.605000,94.200000,1304.500000,16.980000,36.525000,...,0.000000,0.010000,2.300000,0.410000,4.770000,1.000000,9.000000,0.390000,0.280000,1.255000
75%,242.000000,2003.000000,12.000000,NaN,NaN,190.602500,308.082500,2062.000000,38.610000,121.647500,...,200.000000,1.740000,8.800000,1.740000,12.372500,2.690000,23.352500,3.110000,0.870000,17.330000
max,917.000000,2015.000000,20.000000,NaN,NaN,1154.230000,3215.010000,6547.000000,98.120000,879.490000,...,5000.000000,74.780000,159.540000,51.660000,200.060000,71.200000,240.990000,111.610000,131.350000,1162.660000